@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  src: url('Outfit.ttf') format('ttf-variations');
  src: url('Outfit.ttf') format('ttf') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

@layer base {
  body {
    font-size: 14px;
    line-height: 1.6;
  }

  h1 {
    @apply text-5xl font-bold leading-none;
  }

  h2 {
    @apply font-bold;

    font-size: 40px;
    line-height: 1.2;
  }

  h3 {
    @apply text-2xl;

    line-height: 1.2;
  }

  .app {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}